
.main {
    width: 460px;
    height: 608px;
    /* border: 2px solid grey; */
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(180, 210, 244);
}

.screen {
    width: 450px;
    height: 100px;
    border: 3px solid grey;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 251, 247);
    font-size: 50px;
    font-weight: 400;
    text-align: end;
    /* padding: 0;
    margin: 0; */
}

.buttons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 500px;
    gap:2px; 
    border: 1px solid grey;
    border-radius: 0 0 10px 10px;
}

.button {
    transition-duration: 0.4s;
    background-color:rgb(226, 226, 228);
    border: 1px solid gray;
    font-size: 30px;
    font-weight: 400;
    border-radius: 10px;
  }

  .button:hover {
    background-color:rgb(97, 150, 188);
    color: white;
    border: 1px solid gray;
    transform: scale(1.06);
  }

  .button:active {
    background-color: rgb(49, 60, 113);
    color: white;
  }

.row_1, .row_2, .row_3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:2px;
  
}
.row_4 {
    border-radius: 3px 3px 10px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 2px;
}

